.main {
  padding: 0 33px;
}

.display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 0;
}

.discription {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  color: #707786;
}
